In [1]:
import pandas as pd

In [37]:
READ_PATH_PPP = "/Users/jon/Desktop/data-cleaning-project/data/ppp-naics-joined.csv"
READ_PATH_CITY = "/Users/jon/Desktop/data-cleaning-project/data/trimmed-zipcode.csv"
ppp_df = pd.read_csv(READ_PATH_PPP)
city_df = pd.read_csv(READ_PATH_CITY)
city_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  147 non-null    int64
 1   ZipCode     147 non-null    int64
 2   City        147 non-null    object
dtypes: int64(2), object(1)
memory usage: 3.6+ KB

In [38]:
city_df.drop(city_df.columns[0], axis=1, inplace=True)
city_df = city_df.astype({"ZipCode":"int32", "City": "string"})
city_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ZipCode  147 non-null    int32
 1   City     147 non-null    string
dtypes: int32(1), string(1)
memory usage: 1.8 KB

In [39]:
city_df.head()

   ZipCode          City
0    96701          AIEA
1    96703       ANAHOLA
2    96704  CAPTAIN COOK
3    96704    OCEAN VIEW
4    96705        ELEELE

In [43]:
ppp_df = ppp_df.astype({"Zip":"int32"})
ppp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21904 entries, 0 to 21903
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        21904 non-null  int64
 1   LoanAmount        21904 non-null  float64
 2   City              21904 non-null  object
 3   State             21904 non-null  object
 4   Zip               21904 non-null  int32
 5   NAICSCode         21799 non-null  float64
 6   BusinessType      21903 non-null  object
 7   RaceEthnicity     21904 non-null  object
 8   Gender            21904 non-null  object
 9   Veteran           21904 non-null  object
 10  NonProfit         678 non-null    object
 11  JobsReported      19457 non-null  float64
 12  DateApproved      21904 non-null  object
 13  Lender            21904 non-null  object
 14  CD                21904 non-null  object
 15  2017 NAICS Code   21595 non-null  float64
 16  2017 NAICS Title  21595 non-null  object
dtypes: float64(4), int32(1), int64(1), object(11)
memory usage: 2.8+ MB

In [44]:
joined_ppp = ppp_df.merge(
    right=city_df,
    how='left',
    left_on='Zip',
    right_on='ZipCode'
)

In [45]:
joined_ppp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22653 entries, 0 to 22652
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        22653 non-null  int64
 1   LoanAmount        22653 non-null  float64
 2   City_x            22653 non-null  object
 3   State             22653 non-null  object
 4   Zip               22653 non-null  int32
 5   NAICSCode         22544 non-null  float64
 6   BusinessType      22651 non-null  object
 7   RaceEthnicity     22653 non-null  object
 8   Gender            22653 non-null  object
 9   Veteran           22653 non-null  object
 10  NonProfit         689 non-null    object
 11  JobsReported      20093 non-null  float64
 12  DateApproved      22653 non-null  object
 13  Lender            22653 non-null  object
 14  CD                22653 non-null  object
 15  2017 NAICS Code   22337 non-null  float64
 16  2017 NAICS Title  22337 non-null  object
 17  ZipCode           22652 non-null  float64
 18  City_y            22652 non-null  string
dtypes: float64(5), int32(1), int64(1), object(11), string(1)
memory usage: 3.4+ MB

In [46]:
joined_ppp.head()

,Unnamed: 0,LoanAmount,City_x,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsReported,DateApproved,Lender,CD,2017 NAICS Code,2017 NAICS Title,ZipCode,City_y
0,0,149957.5,HONOLULU,HI,96813,238220.0,Corporation,Unanswered,Unanswered,Unanswered,NaN,14.0,04/16/2020,First Hawaiian Bank,HI-01,238220.0,"Plumbing, Heating, and Air-Conditioning Contra...",96813.0,HONOLULU
1,1,149900.0,HONOLULU,HI,96814,541990.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,Y,17.0,04/08/2020,First Hawaiian Bank,HI-01,541990.0,"All Other Professional, Scientific, and Techni...",96814.0,HONOLULU
2,2,149800.0,HONOLULU,HI,96816,722511.0,Corporation,Asian,Male Owned,Non-Veteran,NaN,42.0,04/12/2020,Central Pacific Bank,HI-01,722511.0,Full-Service Restaurants,96816.0,HONOLULU
3,3,149800.0,HONOLULU,HI,96815,722511.0,Corporation,Unanswered,Unanswered,Unanswered,NaN,27.0,05/27/2020,"American Savings Bank, FSB",HI-01,722511.0,Full-Service Restaurants,96815.0,HONOLULU
4,4,149700.0,AIEA,HI,96701,621111.0,Limited Liability Partnership,Unanswered,Unanswered,Unanswered,NaN,10.0,04/06/2020,"American Savings Bank, FSB",HI-01,621111.0,Offices of Physicians (except Mental Health Sp...,96701.0,AIEA

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21904 entries, 0 to 21903
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        21904 non-null  int64
 1   LoanAmount        21904 non-null  float64
 2   City              21904 non-null  object
 3   State             21904 non-null  object
 4   Zip               21904 non-null  int64
 5   NAICSCode         21799 non-null  float64
 6   BusinessType      21903 non-null  object
 7   RaceEthnicity     21904 non-null  object
 8   Gender            21904 non-null  object
 9   Veteran           21904 non-null  object
 10  NonProfit         678 non-null    object
 11  JobsReported      19457 non-null  float64
 12  DateApproved      21904 non-null  object
 13  Lender            21904 non-null  object
 14  CD                21904 non-null  object
 15  2017 NAICS Code   21595 non-null  float64
 16  2017 NAICS Title  21595 non-null  object
dtypes: float64(4), int64(2), object(11)
memory usage: 2.8+ MB

In [48]:
ppp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21904 entries, 0 to 21903
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        21904 non-null  int64
 1   LoanAmount        21904 non-null  float64
 2   City              21904 non-null  object
 3   State             21904 non-null  object
 4   Zip               21904 non-null  int32
 5   NAICSCode         21799 non-null  float64
 6   BusinessType      21903 non-null  object
 7   RaceEthnicity     21904 non-null  object
 8   Gender            21904 non-null  object
 9   Veteran           21904 non-null  object
 10  NonProfit         678 non-null    object
 11  JobsReported      19457 non-null  float64
 12  DateApproved      21904 non-null  object
 13  Lender            21904 non-null  object
 14  CD                21904 non-null  object
 15  2017 NAICS Code   21595 non-null  float64
 16  2017 NAICS Title  21595 non-null  object
dtypes: float64(4), int32(1), int64(1), object(11)
memory usage: 2.8+ MB

In [ ]:
WRITE_PATH = ""
joined_ppp.to_csv()